@use "./styles/button.scss";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  background-color: #161616;
  color: whitesmoke;
  font-family: "Outfit", sans-serif;
}

.highlight {
  color: #a71134;
}
